[user]
	name = Gerard Braad
	email = me@gbraad.nl
	signingkey = D4B4003D16997C1D
[core]
	editor = vim
	whitespace = off
	excludesfile = ~/.gitignore
[advice]
	statusuoption = false
[color]
	ui = true
[push]
	default = current
[commit]
	gpgsign = true
[alias]
	amend = commit -s --amend
	commit = commit -s
