[user]
	name = Gerard Braad
	email = me@gbraad.nl
[core]
    editor = vim
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current
