name: build container
run-name: building container
on:
  push:
    branches:
      - "main"
  pull_request: {}
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run podman build
        run: podman build -t ghcr.io/gbraad/dotfiles:latest -f .devcontainer/Containerfile .
      - name: Push image to ghcr.io
        run: podman push --creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} ghcr.io/gbraad/dotfiles:latest
